<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>
    <h1>Siemens Co-Gen Power Plant Data Analysis</h1>
    <h3>The Project</h3>
    <p>The main objective of the project is to evaluate the data from 
      Siemens Co-Gen power plant and visualized the results. In this case 
      the data is generated electricity and carbon dioxide over time. We chose
       to display the results through this web application because it can be 
       viewed with any device and on any platform. </p>
       <h3>The Team</h3>
       
       <p>Team Leader: </p>
         <ul>
            <li>Kayode Adetunji</li>
         </ul>
          
         <p>Team Members: </p>
         <ul>
           <li>Tony Geara</li>
           <li>Sharon Odongo</li>
           <li>Shreya Patel</li>
           <li>Vithura Sribalachandran</li>
         </ul>
       
  </ion-content>
</ion-content>
